{{ define "editproduct" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Edit Product Page</title>

</head>

<body>


    <!-- SIDEBAR -->

    {{ template "sidebar" . }}


    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        {{ template "navbar" . }}

        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <!-- <div class="tambna-wrapper">
				<div class="tambah-title">tambah Products</div>
				<form method="POST" action="/admin/tambahproduct" enctype="multipart/form-data">
					<label>Nama Produk:</label>
					<input type="text" name="nama_produk" required><br>

					<label>Harga:</label>
					<input type="number" name="harga" required><br>

					<label>Kategori:</label>
					<input type="text" name="kategori" required><br>

					<label>Stok:</label>
					<input type="number" name="stok" required><br>

					<label>Deskripsi:</label>
					<textarea name="deskripsi" required></textarea><br>

					<label>Gambar:</label>
					<input type="file" name="gambar" accept="image/*" required><br>

					<button type="submit">Simpan</button>
				</form>
			</div> -->
            <div class="edit-product-container">
                <h2 class="edit-product-title">Edit Products</h2>
                <form class="edit-product-form" action="/admin/editproduct" method="POST"
                    enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{.Product.ID_Produk}}">

                    <div class="edit-product-field">
                        <label for="nama_produk">Nama Produk</label>
                        <input type="text" id="nama_produk" name="nama_produk" value="{{.Product.NamaProduk}}" required>
                    </div>

                    <div class="edit-product-field">
                        <label for="harga">Harga</label>
                        <input type="number" id="harga" name="harga" value="{{.Product.Harga}}" required>
                    </div>

                    <div class="edit-product-field">
                        <label for="kategori">Kategori</label>
                        <input type="text" id="kategori" name="kategori" value="{{.Product.Kategori}}" required>
                    </div>

                    <div class="edit-product-field">
                        <label for="stok">Stok</label>
                        <input type="number" id="stok" name="stok" value="{{.Product.Stok}}" required>
                    </div>

                    <div class="edit-product-field">
                        <label for="deskripsi">Deskripsi</label>
                        <textarea id="deskripsi" name="deskripsi">{{.Product.Deskripsi}}</textarea>
                    </div>

                    <div class="edit-product-field">
                        <label for="gambar">Image</label>
                        <input type="file" id="gambar" name="gambar">
                        <p>Gambar saat ini: {{.Product.Gambar}}</p>
                    </div>

                    <div class="edit-product-action">
                        <button type="submit" class="edit-product-submit-btn">Submit</button>
                    </div>
                </form>

            </div>
        </main>
    </section>
    <!-- CONTENT -->



</body>

</html>
{{ end }}