{{ define "product" }}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
	<title>Product Page</title>
	
</head>

<body>


	<!-- SIDEBAR -->

	{{ template "sidebar" . }}


	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		{{ template "navbar" . }}

		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			 <div class="product">
				<div class="product-judul">
					<h3>Detail transaksi</h3>
					<button>Tambah Produk</button>
                </div>
			

				<div class="products">
					<div class="product-card">
						<div class="favorite">♥</div>
						<img src="beras.jpg" alt="Beras">
						<div class="product-name">Beras 5kg</div>
						<div class="price">Rp 66.000</div>
						<div class="rating">★★★★☆ (1131)</div>
						<button class="edit-btn">Edit Product</button>
					</div>

					<div class="product-card">
						<div class="favorite">♥</div>
						<img src="gula.jpg" alt="Gula">
						<div class="product-name">Gula 1Kg</div>
						<div class="price">Rp 13.200</div>
						<div class="rating">★★★★☆ (964)</div>
						<button class="edit-btn">Edit Product</button>
					</div>

					<div class="product-card">
						<div class="favorite">♥</div>
						<img src="telur.jpg" alt="Telur">
						<div class="product-name">Telur 5kg</div>
						<div class="price">Rp 110.231</div>
						<div class="rating">★★★★★ (2101)</div>
						<button class="edit-btn">Edit Product</button>
					</div>

					<!-- Tambahkan produk lainnya sesuai kebutuhan -->
				</div>
			</div>
		</main>

		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

	

</body>

</html>
{{ end }}