{{ define "order" }}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
	<title>Product Page</title>
	<style>
		.order-table select.unique-status {
			padding: 4px;
			border-radius: 4px;
			border: 1px solid #ccc;
			background-color: #f9f9f9;
			font-weight: bold;
		}
	</style>
</head>
<body>
	{{ template "sidebar" . }}
	<section id="content">
		{{ template "navbar" . }}
		<main>
			<h2>Order Lists</h2>
			
			<div class="table-container">
				<table class="order-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>NAME</th>
							<th>ADDRESS</th>
							<th>DATE</th>
							<th>Kontak</th>
							<th>STATUS</th>
						</tr>
					</thead>
					<tbody>
						{{ range .Orders }}
						<tr>
							<td>{{ printf "%05d" .ID }}</td>
							<td>{{ .Nama }}</td>
							<td>{{ .Alamat }}</td>
							<td>{{ .Tanggal }}</td>
							<td>{{ .Kontak }}</td>
							<td>
								<form action="/update-status" method="POST">
									<input type="hidden" name="id" value="{{ .ID }}">
									<select name="status" class="unique-status" onchange="this.form.submit()">
										<option value="Menunggu" {{if eq .Status "Menunggu"}}selected{{end}}>Menunggu</option>
										<option value="Selesai" {{if eq .Status "Selesai"}}selected{{end}}>Selesai</option>
										<option value="Ditolak" {{if eq .Status "Ditolak"}}selected{{end}}>Ditolak</option>
									</select>
								</form>
							</td>
						</tr>
						<tr>
							<td colspan="6">
								<details>
									<summary>Lihat Produk</summary>
									<ul>
										{{ range .Produk }}
											<li>{{ .NamaProduk }} - {{ .Jumlah }} x {{ .Harga }} = {{ .Subtotal }}</li>
										{{ end }}
									</ul>
								</details>
							</td>
						</tr>
						{{ end }}
					</tbody>
				</table>
			</div>
		</main>
	</section>
</body>
</html>
{{ end }}
