{{ define "stock" }}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>stock Page</title>

</head>

<body>


  <!-- SIDEBAR -->

  {{ template "sidebar" . }}
  <!-- SIDEBAR -->
  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    {{ template "navbar" . }}
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
      <h2 class="stock-title">Product Stock</h2>
      <div class="stock-container">
        <h2 class="stock-title">Product Stock</h2>
        <div class="stock-table-wrapper">
          <table class="stock-table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Piece</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{range .stock}}
              <tr>
                <td><img src="/customer-image/{{ .Gambar }}" alt="{{.NamaProduk}}" class="admin-product-image"></td>
                <td>{{.NamaProduk}}</td>
                <td>{{.Kategori}}</td>
                <td>Rp {{.Harga}}</td>
                <td>{{.Stok}}</td>
                <td>
                  <a href="/admin/editproduct?id={{.IDProduk}}" class="btn-edit">✎</a>
                  <a href="/admin/deleteproduct?id={{.IDProduk}}" class="btn-delete"
                    onclick="return confirm('Yakin ingin hapus produk ini?')">🗑</a>
                </td>
              </tr>
              {{end}}
            </tbody>

          </table>
          <div class="stock-pagination">
            <span>Showing 1–09 of 78</span>
            <div>
              <button class="page-btn">‹</button>
              <button class="page-btn">›</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- MAIN -->
  </section>
  <!-- CONTENT -->



</body>

</html>
{{ end }}