<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
	<title>Tambah Product Page</title>

</head>

<body>


	<!-- SIDEBAR -->

	{{ template "sidebar" . }}


	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		{{ template "navbar" . }}

		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="tambna-wrapper">
				<div class="tambah-title">tambah Products</div>
				<form method="POST" action="/admin/tambahproduct" enctype="multipart/form-data">
					<label>Nama Produk:</label>
					<input type="text" name="nama_produk" required><br>

					<label>Harga:</label>
					<input type="number" name="harga" required><br>

					<label>Kategori:</label>
					<input type="text" name="kategori" required><br>

					<label>Stok:</label>
					<input type="number" name="stok" required><br>

					<label>Deskripsi:</label>
					<textarea name="deskripsi" required></textarea><br>

					<label>Gambar:</label>
					<input type="file" name="gambar" accept="image/*" required><br>

					<button type="submit">Simpan</button>
				</form>
			</div>
		</main>
	</section>
	<!-- CONTENT -->



</body>

</html>